body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.text-center {
    padding-top: 0;
    padding-left: 35%;
}

#div_c {
    padding-left: 25%;
}