#centro {
    text-align: center;
}

#form-change {
    width: 100%;
    max-width: 300px;
    margin-left: calc(50% - 150px);
    flex-direction: column;
}

div#isPw {
    cursor: pointer;
}

.pannelloArt {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#artisti {
    margin: auto;
    width: 30%;
}

#aggiungi-artista {
    margin-top: 6px;
}