#centro {
    text-align: center;
}

#form-change {
    width: 100%;
    max-width: 300px;
    margin-left: calc(50% - 150px);
    flex-direction: column;
}

div#isPw {
    cursor: pointer;
}

#artisti {
    margin: auto;
    width: 30%;
}

#aggiungi-artista {
    margin-top: 6px;
}