body {
    margin: 0;
    display: block;
    justify-content: center;
    min-height: 100vh;
}

.text-center {
    padding-top: 0;
}

.d-flex {
    display: block!important;
}

.form-centrato {
    padding-left: 20%;
}

#myForm_nome_evento {
    display: none;
}

#myForm_data_evento {
    display: none;
}

#myForm_luogo {
    display: none;
}

#myForm_immagine {
    display: none;
}

#myForm_descrizione {
    display: none;
}

#myForm_ora_evento {
    display: none;
}

#myForm_link_biglietto {
    display: none;
}

ul.list-group li {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 150px;
}

#div_bottoni {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    margin-left: 21px;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#div_search {
    flex-direction: row;
}

#div_search > .form-control {
    width: auto !important;
}

input#nome_evento {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#data_evento {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#luogo {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#immagine {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#nome_comico1 {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#cognome_comico1 {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#profilo {
    width: 250px;
    text-align: center;
    margin: auto;
}

textarea#bio {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#nome_mus1 {
    width: 250px;
    text-align: center;
    margin: auto;
}

.int {
    font-weight: bold;
}

.pannelloFoto {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.pannelloFoto img {
    max-width: 100%;
    max-height: 80vh;
}

.pannelloFoto button {
    margin-top: 10px;
}

.pannelloDesc {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.highlighted {
    font-weight: bold;
    transition: background-color 0.5s ease;
    transform: scale(1.1);
}

#aggiungi-artista {
    margin-top: 6px;
}

.pannelloArt {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#bottoniCentro {
    display: flex;
}

#sep {
    margin: auto;
}

#eliminaArt {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

.pannelloLink {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.table-container {
    align-items: center;
}

.butDiv {
    margin-left: 40%;
}

.butDivDesc {
    margin-left: 45%;
}

.butDivImm {
    margin-left: 27%;
}