body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.text-center {
    padding-top: 0;
}

.d-flex {
    display: block!important;
}

.form-centrato {
    padding-left: 20%;
}

#myForm_nome_evento {
    display: none;
}

#myForm_data_evento {
    display: none;
}

#myForm_luogo {
    display: none;
}

#myForm_immagine {
    display: none;
}

#myForm_descrizione {
    display: none;
}

ul.list-group li {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 150px;
}

#div_bottoni {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    margin-left: 21px;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#div_search {
    flex-direction: row;
}

#div_search > .form-control {
    width: auto !important;
}

input#nome_evento {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#data_evento {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#luogo {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#immagine {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#nome_comico1 {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#cognome_comico1 {
    width: 250px;
    text-align: center;
    margin: auto;
}

input#profilo {
    width: 250px;
    text-align: center;
    margin: auto;
}

textarea#bio {
    width: 250px;
    text-align: center;
    margin: auto;
}